* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* .hamburger {
  background-color: #a3e5ff;
  height: 100%;
} */

.hamburger {
  background: linear-gradient(
    135deg,
    #67d1fa,
    #ffffff
  ); /* Gradient from blue to white */
  height: 100%;

  /* Add a transition for the background property */
}

/* Add hover style for the .hamburger element */
.hamburger:hover {
  background: linear-gradient(
    135deg,
    #a3e5ff,
    #ffffff
  ); /* Change the gradient on hover */
}

.wavyLine {
  width: 100%;
  height: 100px; /* Adjust the height of the wavy line */
}
